:root {
  --white: #FFFFFF;
  --iris: #5454D4;
  --platinum: #E7E7E7;
  --cinnabar: #F04037;
  --mustard: #FEDC5A;
  --eerieblack: #1E1E20;
  --chineseblack: #121213;
  --charlestongreen: #292D32;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

body {
  padding-inline: 6.25rem;
  font-family: 'Nunito Sans', sans-serif;

  /* graphik */
  /* font-family: 'Graphik', sans-serif; */
}

header {
  padding-block: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav ul {
  display: flex;
  align-items: center;
}

header nav ul li {
  padding-inline: 1.875rem;
}

header nav ul li a {
  color: var(--white);
}

header nav ul li a:hover {
  color: var(--iris);
  transition: 1s ease;
}

.__contact_cta button {
  border: .53rem solid var(--white);
  outline: none;
  border-radius: 5px;
  padding-block: .6rem;
  padding-inline: 1.2rem;
  color: var(--white);
}

.__hero {
  padding-block: .7rem 8.125rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__text {
  width: 50%;
  padding-right: 3rem;
} 

.hero__text h1 {
  font-family: 'Graphik', sans-serif;
  font-size: 5rem;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--white);
  padding-block: 0 1.5rem;
}

.hero__text p {
  font-size: 1.313rem;
  font-weight: 400;
  color: var(--white);
  padding-block: 0 3.125rem;
}

.cta__service {
  border: none;
  display: flex;
  align-items: center;
  background-color: var(--iris);
  border-radius: 7px;
  padding-block: 1rem;
  padding-inline: 1.3rem;
}

.cta__service a {
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 700;
}

.hero__image {
  width: 50%;
}

.hero__image img {
  width: 100%;
}

